
/* pagination properties */
.pagin ul {
  background-color: orange;
  list-style-type: none;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}
  .pagin li {
    display: inline;
    height: min-content;
  }
  .pagin a {
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .pagin ul li+li:before {
    color: black;
    content: "/";
    font-size: 2.5vh;
  } 
  .pagin ul li a:hover {
    text-decoration: underline;
  }
  /* top menu properties */
  body {
    max-width: 1500px;
    padding: 5vw;
  }
  .title {
    display: flex;
    flex-direction: row;
    flex: 1 2 1;
    margin: 0px auto;
  }
  h1 {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin: 0px auto;
  }
  .menuTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
  }

/* Cart list properties */
#headersList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
    height: 3vh;
    padding: 1em 1em 1em 1em;
    background-color: grey;
    border-radius: 1rem;
    justify-content: space-between;
}
#productHeader, #quantityHeader, #priceHeader, #valueHeader  {
    min-width: 7vw;
}
/* Cart basket properties */
.cart > a {
  text-decoration: none;
  color: #000;
  font-size: 2.5vh;
}
.cart {
  display: flex;
  height: min-content;
  background-color: grey;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
}
/* basket content properties */
.product-container{
  display:flex;
  flex-wrap: wrap;
  width: 550px;
  height: 100px;
  justify-content: space-between;
}
.product {
  display:flex;
  flex-direction: row;
  width: fit-content;
  padding: 1rem;
}
.price {
  display:flex;
  flex-direction: row;
  width: 5%;
  padding-left: 5rem;
}
.quantity {
  display:flex;
  flex-direction: row;
  padding-left: 6rem;
}
.total {
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
}
@media (max-width: 600px) {
  h1 {
    letter-spacing: 0;
    font-size: small;
  }
  #headersList {
    width: 100px;
    height: auto;
  }
  .product-container {
    flex-direction: column;
    display: flex;
    width: 100px;
    height: auto;
  }
  .product, .price, .quantity, .total {
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1fr;
    padding-left: 1rem;
  }
  /* .price, .quantity, .total {
    flex-direction: column;
    flex: 1 1 auto;
    width: 100px;
    padding-left: 0;
  } */
}